// START OF CSS RESIZE

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Remove the underline from all links */
a {
  text-decoration: none;
}

/* Make text un selectable */
h1,
p {
  user-select: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// END OF RESET

// CSS Variables
$DNDFontColor: #9c2b1b;
$backgroundforNAV: url(../assets/PHB_background_texture.png);
$storysectionheadcolor: #58180d;
$storyboardbackgrndcolor: #ffffff;

//START OF STORY CSS
body {
  background: $backgroundforNAV no-repeat center center fixed;
  //background: url(../assets/PHB_background_texture.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Vesper Libre", serif;
}

//NAVIGATION AREA
.episode__nav {
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $backgroundforNAV;
  background-color: #f5e1da;
  border-bottom: 3px solid $DNDFontColor;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 95px;
    z-index: 1;
    width: max(100%, 1250px);

    .logo {
      margin-top: 13px;
      max-width: 133px;
      max-height: 66px;

      &:hover img {
        width: 95%;
      }
    }

    .nav__menu {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      max-width: 100px;
      width: 100%;
      // height: 100%;
      height: 40px;
      z-index: 9999;
      transition: all 0.5s ease-in-out;

      li {
        margin: 0.8em;
        padding: 0.8em;
        display: inline-block;

        a {
          font-size: clamp(0.7rem, 7vw, 1.3rem);
          //font-size: 1.3rem;
          color: $DNDFontColor;
          text-align: center;
          //padding: .8rem;
          width: 100%;
          display: flex;
          transition: text-shadow 0.2s ease-in-out;

          &:hover {
            font-size: 1.5rem;
            text-decoration: underline;
            text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

//VIDEO SECTION CSS
.video__section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .content {
    padding: 16px;
    margin-right: 10px;
    display: grid;
    place-content: center;
    place-items: center;

    .playlist-button {
      margin-top: 8px;
      background-color: $storysectionheadcolor;
      text-transform: uppercase;
      border: none;
      padding: 12px 24px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 25px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $DNDFontColor;
      }

      a {
        color: white;
      }
    }

    h1 {
      text-align: center;
      font-weight: 700;
      font-size: min(10vw, 66px);
      color: $storysectionheadcolor;
      font-family: "Cinzel Decorative", cursive;
    }

    h2 {
      font-size: min(5vw, 32px);
      color: $storysectionheadcolor;
      font-family: "Vesper Libre", serif;
      font-weight: 700;
      text-transform: uppercase;
    }

    h3 {
      font-size: min(5vw, 24px);
      color: $storysectionheadcolor;
      font-family: "Vesper Libre", serif;
    }
  }
}

//HIDE video container for the times YouTube doesn't embed the video and use the img css below
/* .video__container {
  margin-top: 80px;
  width: clamp(106px, 90vw, 560px);
  height: clamp(56px, 35vh, 350px);
  border: 13px solid $storysectionheadcolor;
} */

//HIDE iframe for the times YouTube doesn't embed the video and use the img css below
/* iframe {
  height: 100%;
  width: 100%;
  border: 0;
  border: 6px groove $DNDFontColor;
} */

//for When YouTube forces me to use a picture b/c it won't embed the video hide top video container and iframe
.video__container {
  border: 13px solid $storysectionheadcolor;
  overflow: hidden;
  height: 50%;
  width: clamp(106px, 90vw, 560px);
  text-align: center;
  font-size: 1.1rem;
  color: whitesmoke;
  background-color: black;

  img {
    width: 100%;
    border: 0;
    border: 6px groove $DNDFontColor;
    overflow: hidden;
  }
}
//end of the img and vid container adjustment for iframe youtube issues

//VIDEO SECTION MEDIA QUERIES
@media only screen and (max-width: 915px) {
  .content {
    margin-bottom: 48px;
  }
  .video__section {
    display: grid;
    place-content: center;
    place-items: center;
  }

  /*   .video__container {
    margin-top: 32px;
  } */

  //for when Youtube makes me use a pic instead of embed use this vid container and section
  .video__section {
    margin-top: 32px;
  }
  .video__container {
    margin-top: 16px;
    height: 300px;
  }
}

@media only screen and (max-width: 586px) {
  .content {
    //margin-top: 80px;
    margin-bottom: 48px;
  }

  .video__container {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 414px) {
  .content {
    margin-bottom: 48px;
  }

  //use this video section for when iframe doesn't embed or work
  .video__section {
    margin-top: 72px;
  }
}

@media only screen and (max-width: 286px) {
  /*   .video__container {
    width: 200px;
  } */

  //for Youtube embed issues hide top and use this vid container
  .video__container {
    width: 100%;
  }

  .logo {
    margin-top: 13px;
  }
}
// END OF VIDEO SECTION MEDIA QUERIES
